*{
    background-color: coral;
}
h1{font-size: xx-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;


}
.table-container {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .table-header {
    font-size: xx-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .table-cell {
    width: 150px;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .black {
    background-color: rgb(15, 15, 15);
    color: white;
  }
  
  .teal {
    background-color: teal;
  }
  
  .blue {
    background-color: blue;
  }
  
  .navy {
    background-color: navy;
  }
  
  .lime {
    background-color: lime;
  }
  
  .white {
    background-color: white;
  }
  
  .purple {
    background-color: purple;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .olive {
    background-color: olive;
  }
  
  .red {
    background-color: red;
  }
  
  .gray {
    background-color: gray;
  }
  
  .fuchsia {
    background-color: fuchsia;
  }
  
  .green {
    background-color: green;
  }
  h2{
    font-size: 35px;
    text-align: center;
  }
  p {
    display: inline-block;
    margin-right: 10px; 
    font-size: 35px;
    padding-left: 30px;
  }
  
 .uno{
    color:black }

 .dos {
        color: teal;
      }
      
.tres {
        color: blue;
      }
      
      .cuatro {
        color: navy;
      }
      
      .cinco {
        color: lime;
      }
      
      .seis {
        color: white;
      }
      
      .siete {
        color: purple;
      }
      
      .ocho {
        color: yellow;
      }
      
      .nueve {
        color: olive;
      }
      
      .diez {
        color: red;
      }
      
      .once {
        color: brown;
      }
      
      .doce {
        color: gray;
      }
      
      .trece {
        color: fuchsia;
      }
      
      .catorce {
        color: green;
      }
      
      .quince {
        color: aqua;
      }
      
      .dieciseis {
        color: silver;
      }
      