*{
    background-color: rgb(246, 244, 242);
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    font-size: 35px;
    text-align: center;
   
}
h2{
    font-size: 25px;
    text-align: left;
    background-color: dimgray;
    height: 45px;
    width: 65%;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    padding-top: 8px;
    padding-left: 5px;
    }
img{
    display: block;
    margin-left: 25%;
    margin-right: 10px;
    width: 100px;
    float: left;
background-color: azure;
}
p{
    font-size: 15px;
    text-align: justify;
    margin-left: 20%;
    margin-right: 25%;
    font-family:'Times New Roman', Times, serif;
  
}